Lenguajes2024_Alfonso_Carmona/segundotrimestre/ejercicios/ej02-contacto.dtd

<!ELEMENT agenda (contacto+)>
<!ELEMENT contacto (nombre, numero, email, direccion)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT direccion (ciudad, codigoPostal)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT codigoPostal (#PCDATA)>

<!-- Nombre de autor: Alfonso Carmona Aguayo  -->
