Lenguajes2024_Alfonso_Carmona/segundotrimestre/ejercicios/ej06-coche.dtd

<!ELEMENT ficha_tecnica (marca, modelo, ano, matricula, combustible, potencia)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT ano (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT combustible (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>

<!-- Nombre de autor: Alfonso Carmona Aguayo  -->